<div class="sidebar" id="sidebar">
    <div class="sidebar-header">Emabarko</div>
        <button class="startJourney-Btn" id="startJourneyBtn">Start New Journey</button>
        <a href="../journeyDiaries/diary.html">Journey Log</a>
        <button class="journeyCollapse-Btn">Recent Journeys<i class="fa-solid fa-chevron-down chevron"></i>
        </button>
        <div class="journeys-container collapsed"></div>
        <a>Community</a>
        <a>Journey Resources</a>
        <a>Settings</a>
</div>