/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font: bold;
    overflow-y: scroll;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #FAFAFA;
    margin: 0px;
    padding: 0px;
}

/* Global Page Padding */
.globalPadding {
    padding: 0 24px 0 24px;
}

.smallSectionPadding {
    padding: 40px 0 40px 0;
}

.mediumSectionPadding {
    padding: 80px 0 80px 0;
}

.largeSectionPaddion {
    padding: 120px 0 120px 0;
}

.xlargeSectionPadding {
    padding: 160px 0 160px 0;
}

.xxlargeSectionPadding {
    padding: 200px 0 200px 0;
}

.xxxlargeSectionPadding {
    padding: 240px 0 240px 0;
}

/* Start Journey Button */
.startJourneyContainer {
    text-align: center;
}

.startJourneyPadding {
    padding: 80px 0 80px 0
}

#startJourney {
    background-color: #F87171;
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 28px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    transition: 0.5s;
}

#startJourney:hover {
    background-color: #B84C4C;
}

/* Journey Entry Container */
.entryPadding {
    padding: 8px 384px 8px 384px
}

.active,
.collapsibleEntry {
    background-color: #FAFAFA;
    color: #333333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-color: #D6D3D1;
    border-radius: 8px;
    text-align: left;
    outline: #D6D3D1;
    font-size: 15px;
}

.collapsibleEntry:hover {
    background-color: #D6D3D1;
}

.collapsibleEntry:after {
    content: '\002B';
    color: #333333;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.collapsibleContent {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #E5E7EB;
    clip-path: inset(-5px);
    border-radius: 4px;
}

/* CREATE NEW ENTRY MODAL*/
.newEntryModal {
    /* display: none; */
    /* Hidden by default */
    align-items: center;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    width: 50%;
    /* Full width */
    height: 50%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.ModalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}