/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font: bold;
    overflow-y: scroll;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #FAFAFA;
    margin: 0px;
    padding: 0px;
}

/* Global Page Padding */
.globalPadding {
    padding: 0 24px 0 24px;
}

.smallDivPadding {
    padding: 8px 0 8px 0;
}

.mediumDivPadding {
    padding: 16px 0 16px 0;
}

.largeDivPadding {
    padding: 24px 0 24px 0;
}

.smallSectionPadding {
    padding: 40px 0 40px 0;
}

.mediumSectionPadding {
    padding: 80px 0 80px 0;
}

.largeSectionPaddion {
    padding: 120px 0 120px 0;
}

.xlargeSectionPadding {
    padding: 160px 0 160px 0;
}

.xxlargeSectionPadding {
    padding: 200px 0 200px 0;
}

.xxxlargeSectionPadding {
    padding: 240px 0 240px 0;
}

/* Start Journey Button */
.startJourneyContainer {
    text-align: center;
}

.startJourneyPadding {
    padding: 80px 0 80px 0
}

#startJourney {
    background-color: #F87171;
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 28px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    transition: 0.5s;
}

#startJourney:hover {
    background-color: #B84C4C;
}

/* Journey Entry Container */
.entryPadding {
    padding: 8px 384px 8px 384px
}

.active,
.collapsibleEntry {
    background-color: #FAFAFA;
    color: #333333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-color: #D6D3D1;
    border-radius: 8px;
    text-align: left;
    outline: #D6D3D1;
    font-size: 15px;
}

.collapsibleEntry:hover {
    background-color: #D6D3D1;
}

.collapsibleEntry:after {
    content: '\002B';
    color: #333333;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.collapsibleContent {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #E5E7EB;
    clip-path: inset(-5px);
    border-radius: 4px;
}

/* CREATE NEW ENTRY MODAL*/
.newEntryModal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.newEntryModal.active {
    visibility: visible;
    opacity: 1;
}

.modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    /* optional spacing */
}

.modalHeader h2 {
    margin: 0;
    font-size: 1.25rem;
}

.modalHeader .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#entry {
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 750px;
    padding: 24px;
    width: 100%;
}

.newEntry-save-button {
    background-color: #34D399;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    transition: 0.5s;
}

#newEntry-save-button:hover {
    background-color: #10B981;
}

li {
    display: inline-block;
    margin-right: 15px;
}